@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 73, 80, 87;
  --background-start-rgb: 248, 249, 250;
  --background-end-rgb: 248, 249, 250;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: 'Poppins', sans-serif;
}

